h1 a {
    color: #D4A190;
}
div p {
    background: #D4A190;
}
.layer1 {
    background-color: #5f9ea0; /* Цвет фона слоя */
    float: left; /* Обтекание по правому краю */
    width: 200px; /* Ширина слоя */
}
.layer2 {
    background-color: #c0c0c0; /* Цвет фона слоя */
    padding: 5px; /* Поля вокруг текста */
    width: 300px; /* Ширина слоя */
    float: left; /* Обтекание по правому краю */
   }
.clear {
    clear: left; /* Отмена обтекания */
}
