<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href='https://fonts.googleapis.com/css?family=Oswald:700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Marck+Script&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <title>Product</title>

    <!-- Bootstrap core CSS -->

{% load staticfiles %}
    <link href="{%static "css/bootstrap-3.3.2/jumbotron.css" %}"/>
    <link href="{%static "css/bootstrap-3.3.2/dist/css/bootstrap.min.css" %}" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <link rel="icon" href="{% static "fav/favicon.ico" %}" />
    <style>
    body {
        background-color: #eee0e5;
    }
    .form-search {
	width: 200px;
        padding: 10px 0;
    }
    .btn {
        background-color: #8b668b;
        border: 0;
    }
    .btn:hover {
        background: #8b668b;
    }
    .btn:focus {
        background: #8b668b;
    }
    .navbar {
	    font-family: 'Oswald', sans-serif;
		padding-bottom: 0;
	}
    .nav {
        background-color: #cdc5bf;
    }
    .block{
	 display:inline-block;
	 }
   </style>

  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top" style="border-color: #cdaf95;  height: 70px; background-color: #cdaf95;">
      <div class="container">
        <div class="navbar-header"  style="margin: -8px 0 0 0" >
          <a><h2 style="text-align: center; font-family: 'Pacifico', cursive; color: #8b1c62;">Hobbymania</h2></a>
        </div><!--/.navbar-header-->


        <div class="container">
        <div id="navbar" class="navbar-collapse collapse" >
          <form class="navbar-form navbar-right" style="margin: 19px auto" >
            <a class="btn btn-default" href="/basket/" role="button" style="color: #FFFFFF;">Basket &raquo;</a>
            <a class="btn btn-default" href="/signin/" role="button" style="color: #FFFFFF;">Sign up &raquo;</a>
            <a class="btn btn-default" id="log" role="button" style="color: #FFFFFF;"></a>
            <a class="btn btn-default" href="/newproduct/" role="button" style="color: #FFFFFF;">New Product &raquo;</a>
          </form>
          <form name="search" action="#" method="get" class="form-inline form-search pull-right">
	        <div class="input-group"  style="margin: 8px 0 0 0" >
		        <label class="sr-only" for="searchInput">Search</label>
		            <input class="form-control" id="searchInput" type="text" name="search" placeholder="Search">
		            <div class="input-group-btn">
			            <button type="submit" class="btn btn-primary">GO</button>
		            </div>
	        </div>
          </form>
          </div>
        </div><!--/.navbar-collapse -->
      </div><!--/.container -->
    </nav><!--/.navbar navbar-inverse navbar-fixed-top -->


    <nav class="navbar navbar-default" style="background-color: #cdc5bf; width: 100%; margin: 70px 0 0 0">
	    <ul class="nav navbar-nav">
	        {% for categ in categories %}
		        <li><a href={{ categ.get_url }}>{{ categ.name }}</a></li>
            {% endfor %}
	    </ul>
    </nav>


    <h1 style=" text-align: center; color: #8b1c62;"><strong>Добавить новый товар</strong></h1>
<div style="margin: 0 0 0 25%">

   <!-- <form enctype="multipart/form-data" action="/your_name/" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit" />
    </form>-->
    <form enctype="multipart/form-data" action="/your_name/" method="post">
        {% csrf_token %}
    <div>
    <label for="your_name">Name: </label>
    <input id="name" type="text" name="name" value="{{ form.name }}">
    </div>
    <div>
    <label for="description">Description: </label>
    <input id="description" type="text" name="description" value="{{ form.description }}">
    </div>
    <div>
    <label for="description">Price: </label>
    <input id="price" type="decimal" name="price" value="{{ form.price }}">
    </div>
    <div>
    <label for="photo">Photo: </label>
     <input id="photo" type="file" name="photo" <p>{{ form.photo }}</p>>
    </div>
    <input type="submit" value="OK">
</form>
    <hr>



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="{% static "css/bootstrap-3.3.2/dist/js/bootstrap.min.js" %}"></script>
    <script src="{% static "css/bootstrap-3.3.2/docs/assets/js/ie10-viewport-bug-workaround.js" %}"></script>
  </body>
<script>
    $.ajax({
        url: "/accounts/login/",
        type: "GET",
        data: {"item": 0},
        success: function(data){
          $("#log").append(data);
        },
    });
</script>
</html>
