<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href='https://fonts.googleapis.com/css?family=Oswald:700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Marck+Script&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <title>Catalog</title>

    <!-- Bootstrap core CSS -->

{% load staticfiles %}
    <link href="{%static "css/bootstrap-3.3.2/jumbotron.css" %}"/>
    <link href="{%static "css/bootstrap-3.3.2/dist/css/bootstrap.min.css" %}" rel="stylesheet"/>
    <link rel="icon" href="{% static "fav/favicon.ico" %}" />

    <style>
    body {
        background-color: #eee0e5;
    }
    .form-search {
	width: 200px;
        padding: 10px 0;
    }
    .btn {
        background-color: #8b668b;
        border: 0;
    }
    .btn:hover {
        background: #8b668b;
    }
    .btn:focus {
        background: #8b668b;
    }
    .navbar {
        font-family: 'Oswald', sans-serif;
	padding-bottom: 0;
     }
    .nav {
        background-color: #cdc5bf;
    }
   </style>

  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top" style="border-color: #cdaf95;  height: 70px; background-color: #cdaf95;">
      <div class="container">
        <div class="navbar-header"  style="margin: -8px 0 0 0" >
          <a><h2 style="text-align: center; font-family: 'Pacifico', cursive; color: #8b1c62;">Hobbymania</h2></a>
        </div><!--/.navbar-header-->


        <div class="container">
        <div id="navbar" class="navbar-collapse collapse" >
          <form class="navbar-form navbar-right" style="margin: 19px auto" >
            <a class="btn btn-default" href="/basket/" role="button" style="color: #FFFFFF;">Basket &raquo;</a>
            <a class="btn btn-default" href="/signin/" role="button" style="color: #FFFFFF;">Sign up &raquo;</a>
            <a class="btn btn-default" id="log" role="button" style="color: #FFFFFF;"></a>
            <a class="btn btn-default" href="/newproduct/" role="button" style="color: #FFFFFF;">New Product &raquo;</a>
          </form>
          <form name="search" action="#" method="get" class="form-inline form-search pull-right">
	        <div class="input-group"  style="margin: 8px 0 0 0" >
		        <label class="sr-only" for="searchInput">Search</label>
		            <input class="form-control" id="searchInput" type="text" name="search" placeholder="Search">
		            <div class="input-group-btn">
			            <button type="submit" class="btn btn-primary">GO</button>
		            </div>
	        </div>
          </form>
          </div>
        </div><!--/.navbar-collapse -->
      </div><!--/.container -->
    </nav><!--/.navbar navbar-inverse navbar-fixed-top -->


    <nav class="navbar navbar-default" style="background-color: #cdc5bf; width: 100%; margin: 70px 0 0 0">
	    <ul class="nav navbar-nav">
	        {% for categ in categories %}
		        <li><a href={{ categ.get_url }}>{{ categ.name }}</a></li>
            {% endfor %}
	    </ul>
    </nav>


    <div class="jumbotron" style="margin: -30px 0 0 0; background-color: #E1F0FF">
      <div class="container" style="text-align: justify;">
        <h3 style="font-family: 'Marck Script', cursive;">Добро пожаловать!</h3>
      </div>
    </div>



    <div class="container">
    <h1 style=" text-align: center; color: #8b1c62;"><strong>Все товары</strong></h1>
      <div class="row">
        {% for item in items %}
            <div class="col-md-4">
                <h2 style="text-align: center;">{{ item.name }}</h2>
                <img style="margin-left: 20%; width: 60%; margin-right: 20%;" alt="картинка отсутствует" src="{{ item.get_url_photo }}"/>
                <p style="text-align: justify; margin: 2% auto;"><strong>Цена: </strong> {{ item.price}} </p>
                <p style="text-align: justify;"><strong>Описание: </strong> {{ item.description }}</p>
                <p  style="margin-left: 20%;"><a class="btn btn-default" href={{ item.get_url }} role="button" style="color: #FFFFFF;">Подробнее &raquo;</a></p>
            </div>
        {% endfor %}
      </div>

      <hr>

    <div class="container">
    <h1 style=" text-align: center; color: #8b1c62;"><strong>Недавно добавленное</strong></h1>
      <div class="row">
        {% for item in new_items %}
            <div class="col-md-4">
                <h2 style="text-align: center;">{{ item.name }}</h2>
                <img style="margin-left: 20%; width: 60%; margin-right: 20%;" alt="картинка отсутствует" src="{{ item.get_url_photo }}" />
                <p style="text-align: justify; margin: 2% auto;"><strong>Цена: </strong> {{ item.price }} </p>
                <p style="text-align: justify;"><strong>Описание: </strong> {{ item.description }}</p>
                <p  style="margin-left: 20%;"><a class="btn btn-default" href={{ item.get_url }} role="button" style="color: #FFFFFF;">Подробнее &raquo;</a></p>
            </div>
        {% endfor %}
      </div>
    </div>
    <hr>
    </div> <!-- /container -->

    

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script>
    $.ajax({
        url: "/accounts/login/",
        type: "GET",
        data: {"item": 0},
        success: function(data){
          $("#log").append(data);
        },
    });
</script>
    
  </body>
</html>
