<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href='https://fonts.googleapis.com/css?family=Oswald:700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Marck+Script&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <title>Product</title>

    <!-- Bootstrap core CSS -->

{% load staticfiles %}
    <link href="{%static "css/bootstrap-3.3.2/jumbotron.css" %}"/>
    <link href="{%static "css/bootstrap-3.3.2/dist/css/bootstrap.min.css" %}" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <link rel="icon" href="{% static "fav/favicon.ico" %}" />
    <style>
    body {
        background-color: #eee0e5;
    }
    .form-search {
	width: 200px;
        padding: 10px 0;
    }
    .btn {
        background-color: #8b668b;
        border: 0;
    }
    .btn:hover {
        background: #8b668b;
    }
    .btn:focus {
        background: #8b668b;
    }
    .navbar {
	    font-family: 'Oswald', sans-serif;
		padding-bottom: 0;
	}
    .nav {
        background-color: #cdc5bf;
    }
    .block{
	 display:inline-block;
	 }
   </style>

  </head>
    <body>
            {% block page %}
            {% endblock page %}

   </body>
<script>
    $.ajax({
        url: "/accounts/login/",
        type: "GET",
        data: {"item": 0},
        success: function(data){
          $("#log").append(data);
        },
    });
</script>
  </html>