<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href='https://fonts.googleapis.com/css?family=Oswald:700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Marck+Script&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <title>Profile</title>

    <!-- Bootstrap core CSS -->
    
{% load staticfiles %}
    <link href="{%static "css/bootstrap-3.3.2/jumbotron.css" %}"  rel=""/>
    <link href="{%static "css/bootstrap-3.3.2/dist/css/bootstrap.min.css" %}" rel="stylesheet"/>
    <link rel="icon" href="{% static "fav/favicon.ico" %}" />
    <style>
    body {
    background-color: #eee0e5;
    }
    .form-search {
	    width: 200px;
        padding: 10px 0;
    }
    .btn {
        background-color: #8b668b;
        border: 0;
    }
    .btn:hover {
        background: #8b668b;
    }
    .btn:focus {
        background: #8b668b;
    }
    .navbar {
	    font-family: 'Oswald', sans-serif;
		padding-bottom: 0;
	}
    .nav {
        background-color: #cdc5bf;
    }
    img {
    margin:0 40% 0 40%;
    width:20%;
    }
    .block {
        background-color: #cdc5bf;
        width: 100%;
    }
   </style>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> 
   
<link href="{%static "css/favicon.ico" %}" rel="icon">
<!-- 

<link href="{%static "/apple-touch-icon-57x57.png" %}" rel="apple-touch-icon" sizes="57x57"/>
<link href="{%static "/apple-touch-icon-60x60.png" %}" rel="apple-touch-icon" sizes="60x60"/>
<link href="{%static "/apple-touch-icon-72x72.png" %}" rel="apple-touch-icon" sizes="72x72"/>
<link href="{%static "/apple-touch-icon-76x76.png" %}" rel="apple-touch-icon" sizes="76x76"/>

<link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png">


<link rel="manifest" href="/manifest.json">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-TileImage" content="/mstile-144x144.png">
<meta name="theme-color" content="#ffffff">
<link href="{%static "/favicon-32x32.png" %}" type="image/png" rel="icon" sizes="32x32"/>
<link href="{%static "/favicon-96x96.png" %}" type="image/png" rel="icon" sizes="96x96"/>
<link href="{%static "/favicon-16x16.png" %}" type="image/png" rel="icon" sizes="16x16"/>
<link href="{%static "/android-chrome-192x192.png" %}" type="image/png" rel="icon" sizes="192x192"/> -->   


  </head>
<!-- ================================================== -->
  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top" style="border-color: #cdaf95;  height: 70px; background-color: #cdaf95;">
      <div class="container">
        <div class="navbar-header"  style="margin: -8px 0 0 0" >
          <a><h2 style="text-align: center; font-family: 'Pacifico', cursive; color: #8b1c62;">Hobbymania</h2></a> 
        </div><!--/.navbar-header-->
        
        
        <div class="container">
        <div id="navbar" class="navbar-collapse clearfix" > <!--collapse -->
          <form class="navbar-form navbar-right" style="margin: 19px auto" >
            <a class="btn btn-default" href="/basket/" role="button" style="color: #FFFFFF;">Basket &raquo;</a>
            <a class="btn btn-default" href="/signin/" role="button" style="color: #FFFFFF;">Sign up &raquo;</a>
            <a class="btn btn-default" id="log" role="button" style="color: #FFFFFF;"></a>
            <a class="btn btn-default" href="/newproduct/" role="button" style="color: #FFFFFF;">New Product</a>
          </form>
          <form name="search" action="#" method="get" class="form-inline form-search pull-right">
	        <div class="input-group"  style="margin: 8px 0 0 0" >
		        <label class="sr-only" for="searchInput">Search</label>
		            <input class="form-control" id="searchInput" type="text" name="search" placeholder="Search">
		            <div class="input-group-btn">
			            <button type="submit" class="btn btn-primary">GO</button>
		            </div>
	        </div>
          </form>
          </div>
        </div><!--/.navbar-collapse -->
      </div><!--/.container -->
    </nav><!--/.navbar navbar-inverse navbar-fixed-top -->
    

    <nav class="navbar navbar-default" style="background-color: #cdc5bf; width: 100%; margin: 70px 0 0 0">
	    <ul class="nav navbar-nav">
	        {% for categ in categories %}
		        <li><a href={{ categ.get_url }}>{{ categ.name }}</a></li>
            {% endfor %}			
	    </ul>
    </nav>

{% for sell in seller %}

    <div style="mirgin: 0 0 0 0">
                <h1 class="title" style="text-align: center; color: #8b1c62;">{{ sell.name }}</h1>
                <img alt="картинка загружается" src="https://s3.amazonaws.com/codecademy-blog/assets/f3a16fb6.jpg" />
                <h3>{{ sell.information }}</h3>
    </div>
{% endfor %}
     <hr>
      <div class="row" style="margin: 0 0 0 5%">
        
            <div class="col-sm-12">
            {% for item in items %}
          <div class="blog-post">
            
            
            <p class="blog-post-meta">{{ item.publication_date }}</p>

            <img alt="картинка отсутствует" src="{{ item.get_url_photo }}"/>
            <p><strong>{{ item.name }}</strong> </p> <p>{{ item.description }}</p>
            <p><a class="btn btn-default" href={{ item.get_url }} role="button" style="color: #FFFFFF;">Подробнее &raquo;</a></p>
            <hr>
          </div><!-- /.blog-post -->
            {% endfor %}

          <nav>
            <ul class="pager">
              <li><a href="#">Previous</a></li>
              <li><a href="#">Next</a></li>
            </ul>
          </nav>

        </div><!-- /.blog-main -->
      </div><!-- /.row -->
<!-- ================================================== -->
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script>
    $.ajax({
        url: "/accounts/login/",
        type: "GET",
        data: {"item": 0},
        success: function(data){
          $("#log").append(data);
        },
    });
</script>
    <script src="{%static "css/bootstrap-3.3.2/dist/js/bootstrap.min.js" %}" ></script>
     <script src="{%static "css/bootstrap-3.3.2/docs/assets/js/docs.min.js" %}" ></script>
    <script src="{%static "css/bootstrap-3.3.2/docs/assets/js/ie10-viewport-bug-workaround.js" %}"></script>
  </body>
</html>
