<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href='https://fonts.googleapis.com/css?family=Oswald:700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Marck+Script&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <title>Signin</title>

    <!-- Bootstrap core CSS -->
    
{% load staticfiles %}
    <link href="{%static "css/signin.css" %}" rel="stylesheet"/>
    <link href="{%static "css/bootstrap-3.3.2/dist/css/bootstrap.min.css" %}" rel="stylesheet"/>
    <link rel="icon" href="{% static "fav/favicon.ico" %}" />

    <style>
    body {
    background-color: #eee0e5;
    }
    .form-search {
	    width: 200px;
        padding: 10px 0;
    }
    .btn {
        background-color: #8b668b;
        border: 0;
    }
    .btn:hover {
        background: #8b668b;
    }
    .btn:focus {
        background: #8b668b;
    }
    .navbar {
	    font-family: 'Oswald', sans-serif;
		padding-bottom: 0;
	}
    .nav {
        background-color: #cdc5bf;
    }
   </style>
   
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top" style="border-color: #cdaf95;  height: 70px; background-color: #cdaf95;">
      <div class="container">
        <div class="navbar-header"  style="margin: -8px 0 0 0" >
          <a><h1 style="text-align: center; font-family: 'Pacifico', cursive; color: #8b1c62;">Hobbymania</h1></a> 
        </div><!--/.navbar-header-->
        
        
        <div class="container">
        <div id="navbar" class="navbar-collapse collapse" >
          <form class="navbar-form navbar-right" style="margin: 19px auto" >
            <a class="btn btn-default" href="/basket/" role="button" style="color: #FFFFFF;">Basket &raquo;</a>
            <a class="btn btn-default" href="/signin/" role="button" style="color: #FFFFFF;">Sign up &raquo;</a>
            <a class="btn btn-default" href="/signin/" role="button" style="color: #FFFFFF;">Log in &raquo;</a>
            <a class="btn btn-default" href="/newproduct/" role="button" style="color: #FFFFFF;">New Product &raquo;</a>
          </form>
          <form name="search" action="#" method="get" class="form-inline form-search pull-right">
	        <div class="input-group"  style="margin: 8px 0 0 0" >
		        <label class="sr-only" for="searchInput">Search</label>
		            <input class="form-control" id="searchInput" type="text" name="search" placeholder="Search">
		            <div class="input-group-btn">
			            <button type="submit" class="btn btn-primary">GO</button>
		            </div>
	        </div>
          </form>
          </div>
        </div><!--/.navbar-collapse -->
      </div><!--/.container -->
    </nav><!--/.navbar navbar-inverse navbar-fixed-top -->
    

    <nav class="navbar navbar-default" style="background-color: #cdc5bf; width: 100%; margin: 30px 0 0 0">
	    <ul class="nav navbar-nav">
	        {% for categ in categories %}
		        <li><a href={{ categ.get_url }}>{{ categ.name }}</a></li>
            {% endfor %}			
	    </ul>
    </nav>

    <div class="container"  style="widht: 30%">

      <form class="form-signin">
        <h2 class="form-signin-heading" style="color: #8b1c62;"><strong>Войти</strong></h2>
        <label for="inputEmail" class="sr-only">Email</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
        <label for="inputPassword" class="sr-only">Пароль</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Запомнить пароль
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Войти</button>
      </form>

    </div> <!-- /container -->


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static "css/bootstrap-3.3.2/docs/assets/js/ie10-viewport-bug-workaround.js" %}"></script>
  </body>
</html>
